/* Side Navigation Styles */
@import "style.css";
@import "content.css";


.main-content {
  min-height: 100vh;
  /* background: #0b0124; Test background */
  color: #fff;
  padding: .5rem 0;
  margin-left: 200px;
  margin-right:20px;
  font-size: 1.5rem;
  
}

.main-content section {
  margin: 0 5rem 2rem 5rem;
  background: rgba(30, 40, 60, 0.85);
  border-radius: 18px;
  box-shadow: 0 4px 32px 0 rgba(0,0,0,0.4);
  padding: 2rem 2.5rem;
  height: auto;
}

.intro-section {
  text-align: center;
  
}

.main-content h2, .main-content h3 {
  color: #4ec3fa;
  margin-bottom: 1rem;
  
}


.contentimg {
  margin-top: 3%;
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
  }
  
.main-content p {
  font-size: 1.3rem;
  margin-left: 3rem;
  margin-right: 5rem;

}

.help-reefs{
  text-align: center;
}