@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #030303;
    --white: #f6f6f6;
    --dark-blue: #05122b;
    --navy: #00658d;
    --light-blue: #00b4b5;
    --peach: #d9a494;
    --brown: #7b2e24;
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

/*utility classes*/