@import "style.css";



h1 {
  text-align: center;
  color: var(--main-blue);
  margin-top: 2rem;
}

/* ---------------- SVG SITEMAP STYLING ---------------- */
svg {
  width: 100%;
  height: auto;
  display: block;
  max-width: 1200px;
  margin: 2rem 11rem;
}

.node {
  fill: var(--light-blue);
  rx: 8;
  ry: 8;
  transition: 0.3s ease;
  cursor: pointer;
  stroke: #fff;
  stroke-width: 2;

  padding: 10px;
}

.node:hover,
.node:focus {
  fill: white;
  filter: drop-shadow(0 0 8px var(--link-blue));
  outline: none;
}

text {
  fill: var(--white);
  font-size: 1rem;
  font-family: var(--font-sans-serif);
  pointer-events: none;
  
}

line {
  stroke: #bbb;
  stroke-width: 2;
}


