*{
  margin: 0%;
}


.splash-screen {
  height: 100vh;  
  background-image:linear-gradient(30deg, #000613, #051b4d);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.splash-text {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 40%;
  animation: fadeInOut 5s ease 1s forwards;
  opacity: 0;
  
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
