/* This stylesheet is used only for general styling. seperate styling sheets and embeded styling is used to make changes unique to individual pages*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*================
    Variables
================*/

:root {
    /* colours */
    --dark-gray: #3c3c3c;
    --gray: #606060;
    --ash: #9c9c9c;
    --black: #030303;
    --dark-blue: #000e2c;
    --navy: #022938;
    --light-blue: #00b4b5;
    --peach: #d9a494;
    --brown: #7b2e24;
    --lime: #36f640;
    --green: #08830a;

    /* fonts */
    --font-sans-serif: "Montserrat";
    --font-serif: "Noto Serif";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

/*==========================
        Header Section
==========================*/

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--dark-blue);
    color: white;
}

.navbar {
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar li a {
    font-family: var(--font-sans-serif);
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin: 0 1ch;
    text-decoration: none;

    transition: 300ms ease;
}

.navbar li a:hover {
    color: var(--light-blue);
}

.navbar li a:active {
    transition: 0ms;
    color: var(--navy);
}

#headerLogo {
    max-width: 70px;
    margin: 10px;
}

#check {
    display: none;
}

#burger {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    translate: 0 -50%;
}

/*=================================
            Body Section
=================================*/

body {
    background-color: var(--ash);
    color: white;
}

p, label, input {
    font-family: var(--font-serif), serif;
    font-weight: 300;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    padding: 10px;
}

a:link {
    color: var(--light-blue);
    transition: 300ms ease;
    text-decoration: none;
}

a:hover {
    color: var(--peach);
}

a:active {
    color: var(--brown);
}

/*==================================
            Footer Section
==================================*/

footer {
    background-color: var(--dark-blue);
    color: white;
}

#footerLogo {
    max-width: max(100px, 15%);
    margin: 10px;
}

.footercontent {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style: none;
    font-family: var(--font-serif), serif;
    font-weight: 300;
    padding: 10px;
}

footer ul li{
    margin: 5px 0;
}

footer ul li a:link{
    color: white;
    text-decoration: none;

    transition: 300ms ease;
}

footer ul li a:hover {
    color: var(--light-blue);
}

footer ul li a:active {
    transition: 0s;
    color: var(--navy);
}

#copyright {
    font-family: var(--font-sans-serif), sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: var(--ash);
    font-style: normal;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

/*=====================
    utility classes
=====================*/

.blueButton {
    background-color: var(--dark-blue);

    border: solid 2px var(--light-blue);
    border-radius: 50px;
    color: var(--light-blue);
    padding: 0.5rem 1rem;
    margin: 0 1.5ch;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    transition: 300ms ease;
}

.blueButton:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    transform: scale(1.1);
}

.blueButton:active {
    transition: 0s;
    opacity: 0.4;
}

.greenButton {
    background-color: var(--dark-blue);

    border: solid 2px var(--lime);
    border-radius: 50px;
    color: var(--lime);
    padding: 0.5rem 1rem;
    margin: 0 1.5ch;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    transition: 300ms ease;
}

.greenButton:hover{
    background-color: var(--lime);
    color: var(--dark-blue);
    transform: scale(1.1);
}

.greenButton:active{
    transition: 0s;
    opacity: 0.4;
}

.peachButton {
    background-color: var(--dark-blue);

    border: solid 2px var(--peach);
    border-radius: 50px;
    color: var(--peach);
    padding: 0.5rem 1rem;
    margin: 0 1.5ch;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    transition: 300ms ease;
}

.peachButton:hover{
    background-color: var(--peach);
    color: var(--dark-blue);
    transform: scale(1.1);
}

.peachButton:active{
    transition: 0s;
    opacity: 0.4;
}

/*==================================
        Animations Section
==================================*/

.slow-spin {
    color: var(--navy);
    animation: spin linear 20s infinite;
}

@keyframes spin {
    from{}
    to {
        transform: rotate(360deg);
    }
}



/*=================================
        Media Query Section
=================================*/

@media (max-width: 850px) {
    .navbar li a, .navbar button {
        font-size: 0.8rem;
    }
}