@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');


/*================
    Variables
================*/

:root {
    /* colours */
    --dark-gray: #3c3c3c;
    --gray: #606060;
    --ash: #9f9f9f;
    --black: #030303;
    --dark-blue: #000716;
    --darker-blue: #00030a;
    --navy: #111631;
    --light-blue: rgb(15, 113, 164);
    --red: #da0606;
    --peach: #d9a494;
    --brown: #7b2e24;
    --lime: #36f640;
    --green: #08830a;

    --blue-gradient: linear-gradient(30deg, #000613, #051b4d);

    /* fonts */
    --font-sans-serif: "Poppins";
    --font-serif: "Noto Serif";

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

/*==========================
        Header Section
==========================*/

header {
    width: 98%;
    height: 80px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 40px;
    /* background-color: var(--dark-blue); */
    background-image: var(--blue-gradient);
    color: white;
    z-index: 10;
}

.navbar {
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar li a {
    font-family: var(--font-sans-serif);
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin: 0 1ch;
    text-decoration: none;

    transition: 300ms ease;
}

.navbar li a:hover {
    color: var(--light-blue);
}

.navbar li a:active {
    transition: 0ms;
    color: var(--navy);
}

#headerLogo {
    position: relative;
    width: 70px;
    margin: auto 10px;
}

/*=================================
            Body Section
=================================*/

body {
    padding-top: 100px;
    background-color: var(--dark-blue);
    color: white;
    font-family: var(--font-sans-serif)
}

p, label, input , textarea{
    font-family: var(--font-sans-serif), serif;
    font-weight: 300;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    padding: 10px;
}

a:link {
    color: var(--light-blue);
    transition: 300ms ease;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    color: var(--brown);
}

a:visited {
    color: var(--ash);
}

/* To the top button */
#totop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 100;

        transition: ease 300ms; 
}

#totop:hover {
        transform: scale(1.1);
        color: var(--light-blue);
}

/*==================================
            Footer Section
==================================*/

footer {
    /* background-color: var(--dark-blue); */
    background-image: var(--blue-gradient);
    color: white;
}

.footercontent {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#footerLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    padding: 10px;

}

.siteLogo {
    max-height: 100px;
    margin: 10px;
}

.footerlinks {
    list-style: none;
    font-family: var(--font-sans-serif), sans-serif;
    font-weight: 300;
    padding: 10px;
    margin-right: 200px;
}

.footerlinks li{
    margin: 5px 0;
}

.footerlinks li a{
    color: white;
    text-decoration: none;

    transition: 300ms ease;
}

.footerlinks li a:hover {
    color: var(--light-blue);
}

.footerlinks li a:active {
    transition: 0s;
    color: var(--navy);
}

#copyright {
    font-family: var(--font-sans-serif), sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: var(--ash);
    font-style: normal;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}

/*=====================
    utility classes
=====================*/

.blueButton {
    background-color: var(--dark-blue);

    border: solid 2px var(--light-blue);
    border-radius: 50px;
    color: var(--light-blue);
    padding: 0.5rem 1rem;
    margin: 0 1.5ch;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    transition: 300ms ease;
}

.blueButton:hover{
    background-color: var(--light-blue);
    color: white;
    transform: scale(1.1);
}

.blueButton:active {
    transition: 0s;
    opacity: 0.4;
}

.greenButton {
    background-color: var(--dark-blue);

    border: solid 2px var(--lime);
    border-radius: 50px;
    color: var(--lime);
    padding: 0.5rem 1rem;
    margin: 0 1.5ch;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    transition: 300ms ease;
}

.greenButton:hover{
    background-color: var(--lime);
    color: white;
    transform: scale(1.1);
}

.greenButton:active{
    transition: 0s;
    opacity: 0.4;
}

.peachButton {
    background-color: var(--dark-blue);

    border: solid 2px var(--peach);
    border-radius: 50px;
    color: var(--peach);
    padding: 0.5rem 1rem;
    margin: 0 1.5ch;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    transition: 300ms ease;
}

.peachButton:hover{
    background-color: var(--peach);
    color: white;
    transform: scale(1.1);
}

.peachButton:active{
    transition: 0s;
    opacity: 0.4;
}

.whiteButton {
    background-color: transparent;

    border: solid 2px white;
    border-radius: 50px;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0 1.5ch;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

    transition: 300ms ease;
}

.whiteButton:hover{
    transform: scale(1.1);
}

/*==================================
        Animations Section
==================================*/

.slow-spin {
    color: var(--navy);
    animation: spin linear 25s infinite;
}

@keyframes spin {
    from{}
    to {
        transform: rotate(360deg);
    }
}



/*=================================
        Media Query Section
=================================*/

@media (max-width: 850px) {
    .navbar li a, .navbar button {
        font-size: 0.8rem;
    }
}