
@import "./style.css";
/* style.css */

.main-container {
    display: flex;
    padding: 100px 20px;
    justify-content:space-evenly  ;
}
.container {
  position: relative;
  
  width: 20%;
}
header{
    z-index:100;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: var(--dark-blue);
  opacity: 0.7;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: var(--font-sans-serif);
}
.team{
  text-align:center;
}
